* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dosis', sans-serif;
}

.outer-grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
    'alias-header alias-header '
    'alias-inner-grid alias-inner-grid';
}

.outer-grid-expanded {
    grid-template-areas: 
    'alias-header alias-header '
    'alias-nav alias-inner-grid';
}

.inner-grid {
    background-color: rgba(0, 31, 255, 0.2);
    grid-area: alias-inner-grid;
}
header {
    background-color: rgba(0, 31, 255, 0.5);
    grid-area: alias-header;
}
nav {
    background-color: rgba(0, 31, 255, 0.8);
    grid-area: alias-nav;
   
}

.inner-grid {
    overflow-y: scroll;
    display: grid;
    background-color: rgba(0, 31, 255, 0.2);
    grid-area: alias-inner-grid;
    grid-template-rows: 1fr auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'alias-main alias-main'
        'alias-aside alias-aside'
        'alias-footer alias-footer'
}

main {
    background-color: rgba(255, 122, 0);
    grid-area: alias-main;
    height: 2000px;
}

aside {
    background-color: rgba(255, 122, 0, 0.4);
    grid-area: alias-aside;
    height: 100px;
}

footer {
    background-color: rgba(255, 122, 0, 0.7);
    grid-area: alias-footer;
}

@media (min-width: 576px) {
    nav {
        display: block important;
    }
    .outer-grid {
        grid-template-areas: 
        'alias-header alias-header '
        'alias-nav alias-inner-grid'; 
    }
    
    
    header .fa-bars {
        display: none;
    }
    
}
@media (min-width: 992px) {
    .inner-grid {
        grid-area: alias-inner-grid;
        grid-template-rows: 1fr 60px;
        grid-template-columns: minmax(auto, 700px) 1fr;
        grid-template-areas: 
        'alias-main alias-aside'
        'alias-footer alias-footer'
    }
    
}
@media (min-width: 1440px) {


    
}

